@import '../../style/theme';

.hy-sider {
  .hy-sider-nav {
    color: #222;
    border-bottom: none;

    .hy-sider-nav-item {
      color: #222;
      border-bottom: none
    }
  }

  .hy-menu-login {
    height: calc(100% - 64px)
  }
}
